{% extends 'layouts/home-layout.html' %} {% block styles %}
<style>
  .about-us-text p {
    margin-bottom: 15px;
  }
</style>
{% endblock styles %} {% block content %}
<main>
  <div class="container">
    <h1 style="text-align: center">About Us</h1>
    <br />
    <h3 style="text-align: center">To be the go to place to learn or teach anything</h3>
    <br />
    <div class="about-us-text">
      <p>Schoolistan is an Initiative of Mishmash Education Services Private Limited which also owns websites like Teachoo.com</p>
      <p>Mishmash Education Services Private Limited is an educational organization committed to providing quality education to students of all ages and backgrounds. Our company is led by two passionate individuals who bring a wealth of knowledge and experience to the table.</p>
      <p>CA Maninder Singh is an experienced finance professional with over 13 years of experience in handling accounts and taxation content. He has trained and upskilled thousands of students in Accounts and Taxation Domain.</p>
      <p>Davneet Singh, on the other hand, has 9 years of experience in handling technical as well as maths content. He is a technology enthusiast with a knack for identifying and developing innovative solutions that can revolutionize the education industry.</p>
      <p>Together, they have created Mishmash Education Services Private Limited, a company that combines their expertise to create a unique educational experience. Our company is committed to providing students with the tools and resources they need to succeed in their academic and professional lives.</p>
      <p>At Mishmash Education Services Private Limited, we offer a wide range of educational services, including online courses, coaching, and training programs. Our team of experts is dedicated to providing personalized attention to each student, ensuring that they receive the best possible education. We believe that every student has the potential to achieve greatness, and we are here to help them unlock their full potential.</p>
      <p>Thank you for considering Mishmash Education Services Private Limited for your educational needs. We look forward to working with you and helping you achieve your goals.</p>
    </div>
  </div>
</main>
{% endblock content %} {% block scripts %} {% endblock scripts %}
