{% extends 'layouts/home-layout.html' %}{% load static %}{% block styles %}
<style>
  .course-head h1 {
    font-size: 64px;
  }
  .course-head {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px 20px;
  }
  .colored {
    color: #0bb2ad;
  }
  .course-include {
    border-radius: 1em;
    border: 2px solid #0bb2ad;
    padding: 1.5em;
    height: fit-content;
  }
  .course-head > div {
    display: flex;
    flex-direction: column;
  }
</style>
{% endblock styles %}{% block content %}
<main class="main">
  <div class="container course-head" style="background-color: black; color: white;">
    <div>
      <h1>{{course.name}}</h1><br />
      <h2>by <span class="colored">{{course.teacher_name}}</span></h2><br />
      <div class="para-box">
        {% autoescape off %}{{course.description}}{% endautoescape %}
      </div>
      <br />
      <a href="/payments/course/{{course.id}}/paynow" class="btn pri">Course @ <del>&#8377;{{course.old_price|floatformat}}</del> &#8377;{{course.price|floatformat}}. Book Now </a>
    </div>
    <div class="course-include">
      <h2>What will <span class="colored">This Training Course</span> Include?</h2><br />
      <div class="para-box">
        {% autoescape off %}{{course.what_included}}{% endautoescape %}
      </div>
      <br />
      <a href="/payments/course/{{course.id}}/paynow" class="btn pri">Course @ <del>&#8377;{{course.old_price|floatformat}}</del> &#8377;{{course.price|floatformat}}. Book Now </a>
    </div>
  </div>
  <div class="container">
    <h1 style="text-align: center;">What will you learn?</h1><br /><br />
    <div class="double-box">
      {% for unit in course.units %}
      <div class="explain-box">
        <h4>Unit {{forloop.counter}}: {{unit.name}}</h4>
        <div class="para-box">
          <ul>
            {% for topic in unit.topics %}<li>{{topic.name}}</li>{% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="text-align: center;"><br /><br />
      <a href="/payments/course/{{course.id}}/paynow" class="btn pri">Course @ <del>&#8377;{{course.old_price|floatformat}}</del> &#8377;{{course.price|floatformat}}. Book Now </a>
    </div>
  </div>
</main>
{% endblock content %} {% block scripts %} {% endblock scripts %}
