{% extends 'layouts/home-layout.html' %} {% load static %} {% block content %}
<main class="main">
  <div class="container">
    <div class="card login-box">
      <!-- <img src="{% static 'images/landing-logo.svg' %}" alt="Logo" /> -->
      <h1>schoolistan</h1>
      <h2>Login to Start Learning</h2>
      <img src="{% static 'images/landing-photo.svg' %}" style="margin-bottom: 15px;" />
      <div style="text-align: center"><div id="buttonDiv"></div></div>
    </div>
  </div>
</main>
{% endblock content %} {% block scripts %}
<script>
  const G_CLIENT_ID = "{{G_CLIENT_ID}}";
</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="{% static 'scripts/login.js' %}?v=0.02"></script>
{% endblock scripts %}
