{% extends 'layouts/home-layout.html' %} {% block styles %}
<style>
  .refund-policy-text p {
    margin-bottom: 15px;
  }
  .refund-policy-text ul li {
    margin-bottom: 5px;
  }
  .refund-policy-text ul {
    margin-bottom: 10px;
    padding-left: 30px;
  }
</style>
{% endblock styles %} {% block content %}
<main>
  <div class="container">
    <h1 style="text-align: center">Skillistan Refund Policy</h1>
    <div class="divider"></div>
    <div class="refund-policy-text">
      <h2>It’s important to us that you’re satisfied with your purchase of Skillistan Premium and Skillistan Black - Subscription and courses</h2><br />
      <p>If you have any questions about the course, feel free to send a message to <a href="mailto:support@skillistan.com">support@skillistan.com</a></p>
      <p>If you decide that Skillistan Premium wasn’t the right investment for you, you’re entitled to a full refund within 1 day after your purchase. Simply send an email to <a href="mailto:support@skillistan.com">support@skillistan.com</a></p>
      <div class="divider"></div>
      <h2>Three simple notes about our refund policy:</h2><br />
      <p>No refunds will be given after 1 day from the date of purchase.</p>
      <p>All refunds are discretionary. If you download all of the training materials and ask for a refund, we reserve the right to deny your request. Why? Our lenient refund policy is designed to give people a chance to see if the training is a good fit for them. Stealing the material is not covered in this policy.</p>
      <p>If you share your Skillistan Premium with someone else, then no refunds and the subscription will be terminated immediately</p>
      <p>Skillistan<br />New Rajinder Nagar, New Delhi - 110060<br />India</p>
    </div>
  </div>
</main>
{% endblock content %} {% block scripts %} {% endblock scripts %}
