{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>{% block title %}Schoolistan{% endblock title %}</title>
    {% block meta_tags %}{% endblock meta_tags %}
    <!-- favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <!-- libraries -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'libraries/alertify.min.css' %}" />
    <link rel="stylesheet" href="{% static 'over-ride-libs/style.css' %}" />
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}?v=0.46" />
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}?v=0.12" />
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    <div id="messages" style="display: none">
      {% for message in messages %}
      <span>{{ message.tags }}||||{{ message }}</span>
      {% endfor %}
    </div>
    <nav class="nav">
      <div class="menu-btn-box">
        <a href="javascript:void(0);" onclick="handleMenu(1)"><i class="fa-solid fa-bars"></i></a>
      </div>
      <div id="drawer-overlay" class="overlay" onclick="handleMenu(0)"></div>
      <a href="/" class="logo">schoolistan</a>
      <div class="middle" id="drawer">
        <div class="logo-box">
          <a href="/" class="logo">schoolistan</a>
          <a href="javascript:void(0);" onclick="handleMenu(0)">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <a href="/courses">Courses</a>&nbsp;&nbsp;
      </div>
      <div class="right">
        <!-- <a href="/"><i class="fa-solid fa-magnifying-glass"></i></a> -->
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="dropbtn" style="border-radius: 30px; display: flex">
            <img src="{% if request.user.profile_pic %}{{request.user.profile_pic.url}}{% else %}{% static 'images/user.png' %}{% endif %}" class="profile" alt="Profile" />
          </button>
          <div class="dropdown-content">
            <a href="/account/{{request.user.username}}">Profile Page</a>
            <a href="/account/profile">Edit Profile</a>
            <a href="/account/payments">Payments & Subscriptions</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        {% else %}
        <a href="/login">
          <img src="{% static 'images/user.png' %}" class="profile" alt="Profile" />
        </a>
        {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock content %}
    <div class="loading" id="loading">
      <div class="overlay"></div>
      <img src="{% static 'images/loading.svg' %}" alt="Loading">
    </div>
    <footer>
      <div class="footer-top lg-line-ht">
        <div>
          <a href="/" class="logo">schoolistan</a>
          <p>Learn new skills in easy Language - and get certified</p>
        </div>
        <div>
          <h2 class="title2">Important Topics</h2>
          <ul class="links-list">
            <li><a href="/post/category/38">Learn GST</a></li>
            <li><a href="/post/category/57">Learn Payroll</a></li>
            <li><a href="/courses">Paid Courses</a></li>
          </ul>
        </div>
        <div>
          <h2 class="title2">Useful Links</h2>
          <ul class="links-list">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/term-of-service">Terms of Service</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/refund-policy">Refund Policy</a></li>
          </ul>
        </div>
        <div>
          <h2 class="title2">Useful Resources</h2>
          <ul class="links-list">
            <li><a href="https://www.teachoo.com/" target="_blank">Teachoo</a></li>
            <li><a href="https://www.skillistan.com/" target="_blank">Skillistan</a></li>
            <li><a href="https://www.taxdemoportal.com/" target="_blank">GST Simulation Portal</a></li>
          </ul>
        </div>
        <div>
          <h2 class="title2">Contact</h2>
          <p>Mishmash Education Services Private Limited</p>
          <p>213 Apsara Arcade, Pusa Road,</p>
          <p>Karol Bagh, New Delhi,</p>
          <p>110005 Delhi, India</p>
          <br />
          {% comment %} <ul class="links-list">
            <li><a href="tel:+919871714851"><i class="fa-solid fa-phone"></i>+91 9871714851</a></li>
            <li><a href="mailto: yoursmaninder@gmail.com"><i class="fa-solid fa-envelope"></i>yoursmaninder@gmail.com</a></li>
          </ul> {% endcomment %}
        </div>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://in.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <div style="border-bottom: 2px solid #eee"></div>
      <div class="footer-bottom">
        <p>Copyright &#169; {% now "Y" %} Schoolistan all rights are reserved.</p>
      </div>
    </footer>
    <script src="{% static 'libraries/alertify.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script src="{% static 'scripts/requests.js' %}?v=0.03"></script>
    <script src="{% static 'scripts/common.js' %}?v=0.16"></script>
    <script src="{% static 'scripts/index.js' %}?v=0.04"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
